* {
    box-sizing: border-box;
}

body {
    background-color: #202124;
    margin: 0;
    font-family: sans-serif;
    color: #9AA0A6;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
